
:root {
    --stitches-count: 0;
    --row: auto
}


knit-template {
    display: grid;
    grid-template-columns: repeat(var(--stitches-count, auto-fill));
    grid-template-rows: auto;
    gap: 2px;
    border: black 2px solid;
    box-sizing: content-box;
    background: lightgray;
    transform: scaleY(-1);
}

knit-row {
    display: contents;
}

knit-stitch {
    aspect-ratio: 1;
    outline: black 2px solid;
    min-width: 10px;
    min-height: 10px;
    background: white;
    transform: scaleY(-1);
    grid-row-start: var(--row);
    grid-row-end: var(--row);
}


knit-stitch[type="left"] {
    --dot-size: 33%;
    background: radial-gradient(circle at center, black var(--dot-size), transparent var(--dot-size)), white;
}

knit-stitch[type="loop"] {
    --circle-thickness: 8%;
    --circle-position: 40%;
    --inner-circle: calc(var(--circle-position) - calc(var(--circle-thickness) / 2));
    --outer-circle: calc(var(--circle-position) + calc(var(--circle-thickness) / 2));
    background: radial-gradient(
            circle at center,
            transparent var(--inner-circle),
            black var(--inner-circle),
            black var(--outer-circle),
            transparent var(--outer-circle)
    ), white;
}

knit-stitch[type="together"] {
    --thickness: 5%;
    --position: 60%;
    --size: 75%;
    --start: calc(var(--position) - calc(var(--thickness) / 2));
    --end: calc(var(--position) + calc(var(--thickness) / 2));
    background-image: linear-gradient(45deg, transparent var(--end), white var(--end)),
    linear-gradient(-45deg, transparent var(--end), white var(--end)),
    linear-gradient(135deg, transparent var(--size), white var(--size)),
    linear-gradient(-135deg, transparent var(--size), white var(--size)),
    linear-gradient(45deg, transparent var(--start), black var(--start), black var(--end), transparent var(--end)),
    linear-gradient(-45deg, transparent var(--start), black var(--start), black var(--end), transparent var(--end));
}